<section id="blog">
    <div class="section-heading">
        <h1>Blog<br><em>Entries</em></h1>
        <p>Curabitur hendrerit mauris mollis ipsum vulputate rutrum. 
        <br>Phasellus luctus odio eget dui imperdiet.</p>
    </div>
    <div>
        <ul class="tabs clear" data-tabgroup="first-tab-group">
            <li><a href="#tab1" class="active">July 2018</a></li>
            <li><a href="#tab2">June 2018</a></li>
            <li><a href="#tab3">May 2018</a></li>
            <li><a href="#tab4">April 2018</a></li>
        </ul>
        <div id="first-tab-group" class="tabgroup">
            <div id="tab1">
                <ul>
                    <li>
                        <div class="item">
                            <img src="assets/img/blog_1.jpg">
                            <div class="text-content">
                                <h4>Integer ultrices augue</h4>
                                <span>25 July 2018</span>
                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus,
                                   mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed
                                   magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                
                                <div class="accent-button">
                                    <a href="#contact">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img src="assets/img/blog_2.jpg">
                            <div class="text-content">
                                <h4>Cras commodo odio ut</h4>
                                <span>16 July 2018</span>
                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                
                                <div class="accent-button">
                                    <a href="#contact">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img src="assets/img/blog_3.jpg" alt="">
                            <div class="text-content">
                                <h4>Sed at massa turpis</h4>
                                <span>10 July 2018</span>
                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>
                                
                                <div class="accent-button">
                                    <a href="#contact">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>