<section id="feature" class="content-section">
        <div class="section-heading">
            <h1>Featured<br><em>Places</em></h1>
            <p>Praesent pellentesque efficitur magna, <br>
                sed pellentesque neque malesuada vitae.</p>
        </div>
        <div class="fetures">
                <div class="feature1">
                        <img src="assets/img/featured_1.jpg">
                        <h4>Lorem ipsum dolor</h4>
                                <span>Proin et sapien</span>
                                <p>#1 You are allowed to use Sentra Template for<br>
                                        your business or client websites. You can use it<br>
                                          for commercial or non-commercial or<br>
                                           educational purposes.</p>
                </div>
                <div class="feature1">
                        <img src="assets/img/featured_2.jpg">
                        <h4>Phasellus a lacus ac odio</h4>
                                <span>Maximus</span>
                                <p>#2 You are allowed to use Sentra Template for<br>
                                        your business or client websites. You can use it<br>
                                          for commercial or non-commercial or<br>
                                           educational purposes.</p>
                </div>
                <div class="feature1">
                        <img src="assets/img/featured_3.jpg">
                        <h4>Proin sit amet fringilla</h4>
                                <span>Vulputate</span>
                                <p>#3 You are allowed to use Sentra Template for<br>
                                        your business or client websites. You can use it<br>
                                          for commercial or non-commercial or<br>
                                           educational purposes.</p>
                </div>
        </div>
</section>
